{% for author in page.authors %}
    {% for person in site.data.people %}
        {% if author == person.alias %}
{{  author ==  page.authors | first}}
        <div class="page-author">
            <div class="page-author-info">
              <div class="page-person-photo"><img class="page-person-photo-img" src="{{ site_url }}/images/{{ person.avatar }}" /></div>
              <div class="page-person-info-box">
                  <span class="page-author-name">{{ person.name }}</span>
                  <div class="page-author-social-box">
                    {% if person.web %}<a href="{{ person.web }}" class="person-social" target="_blank"><i class="fa fa-fw fa-home"></i>Web</a>{% endif %}
                    {% if person.email %}<a href="mailto:{{ person.email }}" class="person-social" target="_blank"><i class="fa fa-fw fa-envelope-square"></i>Email</a>{% endif %}
                    {% if person.twitter %}<a href="http://twitter.com/{{ person.twitter }}" class="person-social" target="_blank"><i class="fa fa-fw fa-twitter-square"></i>Twitter</a>{% endif %}
                    {% if person.github %}<a href="http://github.com/{{ person.github }}" class="person-social" target="_blank"><i class="fa fa-fw fa-github"></i>Github</a>{% endif %}
                  </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endfor %}
