{% if site.owner.disqus-shortname %}

    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
    this.page.url = '{{ site.url }}{{ page.url }}';
    //this.page.identifier = '{{ site.owner.disqus-shortname }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ site.owner.disqus-shortname }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>No JavaScript no comments. But they can be viewed <a href="https://disqus.com/?ref_noscript">here.</a></noscript>
{% endif %}
