<div width="100%">
<div style="width: 150px; height: 15px; border-bottom: 1px solid black; margin-bottom: 15px;"><p style=" text-align: center;">Brought to you by</div>
<p align="center"><a href="http://wmkeck.org/"><img src="{{ site.url }}/images/funding/keck_foundation.png" style="border: none;" width="150"></a>
<p><a href="http://nih.gov"><img src="{{ site.url }}/images/funding/nih.png" style="border: none;" width="150"></a>
<p><a href="https://dfi.uchicago.edu/"><img src="{{ site.url }}/images/funding/dfi.png" style="border: none;" width="150"></a>
<p><a href="https://cdac.uchicago.edu/"><img src="{{ site.url }}/images/funding/cdac.png" style="border: none;" width="150"></a>
<p><a href="https://microbiome.uchicago.edu/"><img src="{{ site.url }}/images/funding/microbiomecenter.jpg" style="border: none;" width="150"></a>
<p><img src="{{ site.url }}/images/funding/mutchnik.png" style="border: none;" width="150">
<p align="center"><a href="http://face-foundation.org/thomas-jefferson-fund/"><img src="{{ site.url }}/images/funding/thomas_jefferson.gif" width="120" style="border: none;"></a>
</div>
