{% if page.image and page.image.display %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature %}
        {% if page.image.feature contains 'http' %}
          "{{ page.image.feature }}"
        {% else %}
          "{{ site.url }}/images/{{ page.image.feature }}"
        {% endif %}
    {% endif %}

    {% if page.image.featurerelative %}
      "{{ page.url }}/{{ page.image.featurerelative }}"
    {% endif %}

    {% if page.image.featurefromroot %}
      "{{ site.url }}/{{ page.image.featurefromroot }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}

  {% if page.image.nologo %}
  {% else %}
  <div id="group-name-big" style="width: auto; position: absolute; top: 20px; left: 20px; width: 50%;"><img src="/images/eds.svg" style="border: none"></div>
  {% endif %}

  </div><!-- /.image-wrap -->
{% endif %}
