<div class="left-panel-content">

  <div class="left-panel-section">
    <span class="left-panel-label">Recent posts</span>
    <ul class="left-panel-list">
      {% for post in site.posts limit:4 %}
      <li>
        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
        <span class="left-panel-meta">{{ post.date | date: "%Y" }}</span>
      </li>
      {% endfor %}
    </ul>
    <a href="{{ site.url }}/blog/" class="left-panel-more">all posts →</a>
  </div>

  <div class="left-panel-section">
    <span class="left-panel-label">Recent papers</span>
    <ul class="left-panel-list">
      {% for pub in site.data.pubs.publications limit:4 %}
      <li>
        <a href="{{ site.url }}/publications/#{{ pub.doi }}">{{ pub.title }}</a>
        <span class="left-panel-meta">{{ pub.year }}</span>
      </li>
      {% endfor %}
    </ul>
    <a href="{{ site.url }}/publications/" class="left-panel-more">all papers →</a>
  </div>

</div>
