<div>
  <p style="width: 150px;text-align: center;"><a href="https://anvio.org"><img src="https://raw.githubusercontent.com/merenlab/anvio/master/anvio/data/interactive/images/logo.png" style="border: none;" width="150"></a>
  <br />{% include _discord_invitation_button_big.html %}
  <p style="width: 150px;text-align: left;"><a href="/momics/"><img src="/images/momics-teaching-material.png" style="border: none;" title="Microbial 'Omics Teaching Material"></a>
  <p style="width: 150px;text-align: left;"><a href="https://merenlab.org/2020/06/27/seminar-series-on-microbial-omics/"><img src="/images/momics-seminar-series.png" style="border: none;" title="Microbial 'Omics Seminar Series"></a>
  <p style="width: 150px;text-align: center;"><a href="{{ site.url }}/software/anvio-structure/"><img src="{{ site.url }}/images/anvio-structure-logo.png" style="border: none;" width="150"></a>
  <p><a href="/software/oligotyping/"><img src="{{ site.url }}/images/oligotyping-logo.png" style="border: none;"></a>
  <p><a href="/software/med/"><img src="{{ site.url }}/images/med-logo.png" style="border: none;" width="150"></a>
</div>
