<div class="mission">
<p><a href="/people/">We</a> use our expertise in computer science and microbiology to <a href="/research/">study</a> the evolution and ecology of naturally occurring microbial populations through integrated 'omics and wet lab strategies.</p>

<div style="margin: 3px;">
<center>
<img src="/images/microbial-omics.png" title="Microbial 'omics at the Meren Lab" style="border: none; width: 50%;">
</center>
</div>

<p>We serve the community of microbiologists by creating advanced <a href="/software/anvio">open-source software</a>, by following <a href="/data/">open and reproducible science</a> practices, and by engaging in <a href="/momics/">public educational</a> and <a href="/momics-2020/">outreach</a> activities.</p>
</div>
