<span class="mission">
From the human gut and oral cavity to pristine soils and marine ecosystems, <a href="{{ site.url }}/people/">we</a> use our expertise in microbiology and
computation to study microbial communities and their ecology. We strive to
<a href="{{ site.url }}/projects/">create</a> advanced software platforms,
and design appropriate experiments to <a href="{{ site.url }}/publications/">contribute</a>
to a wide range of concurrent <a href="{{ site.url }}/research/">research questions</a> in
the domain of microbial ecology. We are located at the
<a href="http://www.uchicago.edu">The University of Chicago</a>, <a href="http://medicine.uchicago.edu/">The Department of Medicine</a>,
and constantly looking for collaborations that would challenge us with novel and intriguing questions.
</span>

