<span class="mission">
From the human oral cavity to pristine soils, <a href="{{ site.url }}/people/">we</a> use our expertise in microbiology and
computation to study microbial communities and their ecology. We strive to
<a href="{{ site.url }}/projects/">create</a> advanced software platfroms,
and design appropriate experiments to <a href="{{ site.url }}/publications/">contribute</a>
a wide range of concurrent <a href="{{ site.url }}/research/">research questions</a> in
the domain of microbial ecology. We are currently located at the
<a href="http://mbl.edu">Marine Biological Laboratory</a>, <a href="http://jbpc.mbl.edu/">The Josephine Bay Paul Center for Comparative Molecular Biology and Evolution</a>,
and constantly looking for collaborations that would challenge us with novel and intriguing questions.
</span>

