{% assign current = 0 %}
{% assign alumni = 0 %}
{% assign collaborator = 0 %}
{% assign visitor = 0 %}
{% assign community = 0 %}

{% for person in site.data.people %}
    {% if person.lab_member and person.tenure_end == nil %}{% assign current = current | plus: 1 %}{% endif %}
    {% if person.lab_member and person.tenure_end %}{% assign alumni = alumni | plus: 1 %}{% endif %}
    {% if person.collaborator %}{% assign collaborator = collaborator | plus: 1 %}{% endif %}
    {% if person.visitor %}{% assign visitor = visitor | plus: 1 %}{% endif %}
    {% if person.community_member %}{% assign community = community | plus: 1 %}{% endif %}
{% endfor %}

<div class="people">

<div class="category-box" style="margin-top:50px">
    <a href="#current"><span class="category-item">Members ({{ current }})</span></a>
    <a href="#collaborators"><span class="category-item">Collaborators ({{ collaborator }})</span></a>
    <a href="#alumni"><span class="category-item">Alumni ({{ alumni }})</span></a>
    <a href="#community"><span class="category-item">Community ({{ community }})</span></a>
    <a href="#visitors"><span class="category-item">Visitors ({{ visitor }})</span></a>
</div>

<div class="notice">
<ul>
    <li><b>Interested in joining?</b> Please consider reading <a href="../culture/" style="color: #0969da;">the lab culture and expectations</a> first. Some information on our location and space is <a href="space/" style="color: #0969da;">here.</a></li>
    <li><b>Interested in visiting?</b> We welcome <a href="#visitors" style="color: #0969da;">visitors</a> and short-term research stays as long as we are able. Please send an email to any of us to start the conversation.</li>
    <li><b>Looking for advice?</b> Meren dedicates an hour each week to ECRs outside the group to discuss with them any professional topic of their choosing. See details and schedule meeting <a href="https://zeeg.me/meren/ecr-connection" style="color: #0969da;">here</a>.</li>
</ul>
</div>

<p class="persons-title" href="group-photo" style="margin-bottom: 0.5em; margin-top: 0.5em !important;">📸<a name="group-photo">&nbsp;</a></p>

<p>This is the most current one. We have an archive of them <a href="photos/" style="color: #0969da;">here</a>.

{% include _group_photos_current.md %}

<h2 id="current" class="persons-title" style="margin-top: 0px;">Current Members (sorted by name)</h2>

{% assign people_sorted = site.data.people | sort:"name" %}

{% for person in people_sorted %}
    {% if person.lab_member and person.tenure_end == nil %}
        {% include _person.html current=true %}
    {% endif %}
{% endfor %}

<h2 id="honorary" class="persons-title" style="margin-top: 0px;">Honorary Members</h2>

{% assign people_sorted = site.data.people | sort:"name" %}

{% for person in people_sorted %}
    {% if person.honorary_member and person.tenure_end == nil %}
        {% include _person.html current=true %}
    {% endif %}
{% endfor %}



<h2 id="collaborators" class="persons-title" style="margin-top: 0px;">Collaborators</h2>

<p class="notice">Those who work closely and actively with our group. It is a fact that we collaborate with many more researchers than what is shown below. The individuals below are those with whom we interact almost daily, who publish with our group very frequently, and with whom we always have something active. They are almost a member of our group with their contributions to our work, but they are just elsewhere.

{% for person in site.data.people %}
    {% if person.collaborator %}
        {% include _person.html collaborator=true %}
    {% endif %}
{% endfor %}

<div class="alumni">

<h2 id="alumni" class="persons-title" style="margin-top: 0px;">Alumni (sorted by date)</h2>

<p class="notice">Those who were officiallly affiliated with our group and continued their career elsewhere. If you see yourself or someone else below with outdated information, please edit <a href="https://github.com/merenlab/web/blob/master/_data/people.yml" style="color:red;">this</a> file.

{% for person in site.data.people %}
    {% if person.lab_member and person.tenure_end %}
        {% include _person.html alumnus=true %}
    {% endif %}
{% endfor %}
</div>


<div class="community">

<h2 id="community" class="persons-title" style="margin-top: 0px;">Community</h2>

<p class="notice">Those who generously shared their experiences, opinions and/or computational expertise with us and others through blog posts that appeared on our web pages. If you see yourself or someone else below with outdated information, please edit <a href="https://github.com/merenlab/web/blob/master/_data/people.yml" style="color:red;">this</a> file.

{% for person in site.data.people %}
    {% if person.community_member %}
        {% include _person.html community=true %}
    {% endif %}
{% endfor %}
</div>



<div class="visitors">

<h2 id="visitors" class="persons-title" style="margin-top: 0px;">Visitors</h2>

<p class="notice">Those who visited our laboratory for a period of a week or longer.

{% for person in site.data.people %}
    {% if person.visitor %}
    <h3 id="{{ person.name | slugify }}">{{ person.name }}</h3>
    {% if person.pers_link %}<a href="{{ person.pers_link }}" id="aff-link" target="_blank">{{ person.nick_name }}</a>{% else %}{{ person.nick_name }}{% endif %}, who was a {{ person.title }} at {% if person.department %}<a href="{{person.dept_link}}" id="aff-link" target="_blank">{{ person.department }}</a>, {{ person.institute }}{% else %}, <a href="{{person.dept_link}}" id="aff-link" target="_blank">{{ person.institute }}</a>{% endif %} {{ person.country_flag }}, arrived on <b>{{ person.arrival }}</b> and stayed with us for about <b>{{ person.length_of_stay }}</b>. {% if person.notes %}{{ person.notes }}.{% endif %}{% if person.photos %}{% for photo in person.photos %}{% include IMAGE path=photo.url caption=photo.caption width='90' %}{% endfor %}{% endif %}</li>
    {% endif %}
{% endfor %}
</div>
