{% assign current = 0 %}
{% assign alumni = 0 %}
{% assign collaborator = 0 %}
{% assign community = 0 %}

{% for person in site.data.people %}
    {% if person.lab_member and person.tenure_end == nil %}{% assign current = current | plus: 1 %}{% endif %}
    {% if person.lab_member and person.tenure_end %}{% assign alumni = alumni | plus: 1 %}{% endif %}
    {% if person.collaborator %}{% assign collaborator = collaborator | plus: 1 %}{% endif %}
    {% if person.community_member %}{% assign community = community | plus: 1 %}{% endif %}
{% endfor %}

<div class="people">

<div class="category-box" style="margin-top:50px">
    <a href="#current"><span class="category-item">Current ({{ current }})</span></a>
    <a href="#alumni"><span class="category-item">Previous ({{ alumni }})</span></a>
    <a href="#collaborators"><span class="category-item">Collaborators ({{ collaborator }})</span></a>
    <a href="#community"><span class="category-item">Community ({{ community }})</span></a>
</div>

<p align="center"><img class="group-photo" src="../images/group-photo-07-2020.png" /></p>
<br>
<a href="../images/group-photo-07-2020.png">2020</a> | <a href="../images/group-photo-05-2019.jpg">2019</a>

<p class="notice">Interested in joining? Please consider reading <a href="../culture/" style="color: darkblue;">the lab culture and expectations</a> first. Some information on our location and space is also <a href="space/" style="color: darkblue;">here.</a></p>

<p class="persons-title" href="current" style="margin-top: 0px;">Current Members (sorted by name)<a name="current">&nbsp;</a></p>

{% assign people_sorted = site.data.people | sort:"name" %}

{% for person in people_sorted %}
    {% if person.lab_member and person.tenure_end == nil %}
    <div class="person">
        <div class="person-photo">
        {% if person.avatar contains 'http' %}
        	<img src="{{ person.avatar }}" class="person-photo-img" alt="{{ person.name }} bio photo">
        {% else %}
        	<img src="{{ site.url }}/images/{{ person.avatar }}" class="person-photo-img" alt="{{ person.name }} bio photo">
        {% endif %}
        </div>

        <div class="person-info">
          <h3>{{ person.name }} <span class="person-role"> ({{ person.role }})</span></h3>
            <div class="social-box">
              {% if person.web %}<a href="{{ person.web }}" class="person-social" target="_blank"><i class="fa fa-fw fa-home"></i> Web</a>{% endif %}
              {% if person.email %}<a href="mailto:{{ person.email }}" class="person-social" target="_blank"><i class="fa fa-fw fa-envelope-square"></i>Email</a>{% endif %}
              {% if person.twitter %}<a href="http://twitter.com/{{ person.twitter }}" class="person-social" target="_blank"><i class="fa fa-fw fa-twitter-square"></i> Twitter</a>{% endif %}
              {% if person.google.plus %}<a href="http://plus.google.com/+{{ person.google.plus }}" class="person-social" target="_blank"><i class="fa fa-fw fa-google-plus-square"></i> Google+</a>{% endif %}
              {% if person.linkedin %}<a href="http://linkedin.com/in/{{ person.linkedin }}" class="person-social" target="_blank"><i class="fa fa-fw fa-linkedin-square"></i> LinkedIn</a>{% endif %}
              {% if person.github %}<a href="http://github.com/{{ person.github }}" class="person-social" target="_blank"><i class="fa fa-fw fa-github"></i> Github</a>{% endif %}
              {% if person.stackoverflow %}<a href="http://stackoverflow.com/users/{{ person.stackoverflow }}" class="person-social" target="_blank"><i class="fa fa-fw fa-stack-overflow"></i> Stackoverflow</a>{% endif %}
              {% if person.youtube %}<a href="https://youtube.com/user/{{ person.youtube }}" class="person-social" target="_blank"><i class="fa fa-fw fa-youtube-square"></i> Youtube</a>{% endif %}
              {% if person.orcid %}<a href="https://orcid.org/{{ person.orcid }}" class="person-social" target="_blank"><i class="fa fa-fw fa-microphone"></i> ORCiD</a>{% endif %}
              {% if person.address %}<br /><span class="person-social"><i class="fa fa-fw fa-map-marker"></i>Address: {{ person.address  }}</span>{% endif %}
              {% if person.phone %}<br /><span class="person-social"><i class="fa fa-fw fa-phone"></i>Phone: {{ person.phone }}</span>{% endif %}
              {% if person.fax %}<span class="person-social"><i class="fa fa-fw fa-fax"></i>Fax: {{ person.fax }}</span>{% endif %}

            </div>

          <p>{{ person.bio }}</p>

            <div class="person-affiliations-papers-posts">
                {% if person.affiliations %}
                <span style="font-variant: all-small-caps;">Affiliations</span>
                <ul class="person-affiliations">
                {% for affiliation in person.affiliations %}
                <li>{% if affiliation.current == false %}<code class="tags" id="past-affiliation">past</code>{% else %}<code class="tags" id="current-affiliation">current</code>{% endif %} {% if affiliation.title_link %}<a id="aff-link" target="_blank" href="{{ affiliation.title_link }}">{% endif %}<b>{{ affiliation.title }}</b>{% if affiliation.title_link %}</a>{% endif %}{% if affiliation.inst %}, <a href="{{ affiliation.inst_link }}" id="aff-link" target="_blank">{{ affiliation.inst }}</a>{% endif %}.</li>
                {% endfor %}
                </ul>
                {% endif %}

                {% include _person_pubs.html %}

                {% include _person_posts.html %}
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}


<div class="collaborators">

<p class="persons-title">Collaborators and Partners in Science<a name="collaborators">&nbsp;</a></p>

<p class="notice">Our partners in science who work closely and actively with our group. Undoubtedly, this list will forever be incomplete. We collaborate with many more scientists and we benefit from the guidance of many of our senior colleagues. This dynamic list is meant to mention our most active collaborators with whom we interact almost daily to weekly (sorted by name, please edit <a href="https://github.com/merenlab/web/blob/master/_data/people.yml" style="color:red;">this</a> file if updates necessary).

{% for person in site.data.people %}
    {% if person.collaborator %}
    <div class="person">
        <div class="person-photo">
        {% if person.avatar contains 'http' %}
        	<img src="{{ person.avatar }}" class="person-photo-img" alt="{{ person.name }} bio photo">
        {% else %}
        	<img src="{{ site.url }}/images/{{ person.avatar }}" class="person-photo-img" alt="{{ person.name }} bio photo">
        {% endif %}
        </div>

        <div class="person-info">
          <h3>{{ person.name }}</h3>

            <div class="social-box">
              {% if person.twitter %}<a href="http://twitter.com/{{ person.twitter }}" class="person-social" target="_blank"><i class="fa fa-fw fa-twitter-square"></i> Twitter</a>{% endif %}
              {% if person.github %}<a href="http://github.com/{{ person.github }}" class="person-social" target="_blank"><i class="fa fa-fw fa-github"></i> Github</a>{% endif %}
              {% if person.orcid %}<a href="https://orcid.org/{{ person.orcid }}" class="person-social" target="_blank"><i class="fa fa-fw fa-microphone"></i> ORCiD</a>{% endif %}
            </div>

          <p>{{ person.bio }}</p>

          <div class="person-affiliations-papers-posts">
              {% if person.affiliations %}
              <ul class="person-affiliations">
              {% for affiliation in person.affiliations %}
              <li>{% if affiliation.title_link %}<a id="aff-link" target="_blank" href="{{ affiliation.title_link }}">{% endif %}{{ affiliation.title }}{% if affiliation.title_link %}</a>{% endif %}{% if affiliation.inst %}, <a href="{{ affiliation.inst_link }}" id="aff-link" target="_blank">{{ affiliation.inst }}</a>{% endif %}.</li>
              {% endfor %}
              </ul>
              {% endif %}

              {% include _person_pubs.html %}

              {% include _person_posts.html %}
        </div>

        </div>
    </div>
    {% endif %}
{% endfor %}
</div>


<div class="alumni">

<p class="persons-title">Previous Members (sorted by date)<a name="alumni">&nbsp;</a></p>

<p class="notice">Those who were officiallly affiliated with our group but now continue their career elsewhere. If you see yourself or someone else below with outdated information, please edit <a href="https://github.com/merenlab/web/blob/master/_data/people.yml" style="color:red;">this</a> file.

{% for person in site.data.people %}
    {% if person.lab_member and person.tenure_end %}
    <div class="person">
        <div class="person-photo">
        {% if person.avatar contains 'http' %}
        	<img src="{{ person.avatar }}" class="person-photo-img" alt="{{ person.name }} bio photo">
        {% else %}
        	<img src="{{ site.url }}/images/{{ person.avatar }}" class="person-photo-img" alt="{{ person.name }} bio photo">
        {% endif %}
        </div>

        <div class="person-info">
          <h3>{{ person.name }}</h3>

            <div class="social-box">
              {% if person.twitter %}<a href="http://twitter.com/{{ person.twitter }}" class="person-social" target="_blank"><i class="fa fa-fw fa-twitter-square"></i> Twitter</a>{% endif %}
              {% if person.github %}<a href="http://github.com/{{ person.github }}" class="person-social" target="_blank"><i class="fa fa-fw fa-github"></i> Github</a>{% endif %}
              {% if person.orcid %}<a href="https://orcid.org/{{ person.orcid }}" class="person-social" target="_blank"><i class="fa fa-fw fa-microphone"></i> ORCiD</a>{% endif %}
            </div>

          <p class="person-info-text">
             {{ person.nick_name }} was a {{ person.role }} with us between {{person.tenure_start}} and {{person.tenure_end}}.
             {{ person.contributions }}.{% if person.current_info %} The last time we checked, {{ person.nick_name }} was <span class="person-current-info">{{ person.current_info }}</span>.{% endif %}
          </p>

          <div class="person-affiliations-papers-posts">
              {% include _person_pubs.html %}

              {% include _person_posts.html %}
        </div>

        </div>
    </div>
    {% endif %}
{% endfor %}
</div>

<div class="community">

<p class="persons-title">Community<a name="community">&nbsp;</a></p>

<p class="notice">Members of our community who generously shared their experiences, opinions and/or computational expertise with others through blog posts. If you see yourself or someone else below with outdated information, please edit <a href="https://github.com/merenlab/web/blob/master/_data/people.yml" style="color:red;">this</a> file.

{% for person in site.data.people %}
    {% if person.community_member %}
    <div class="person">
        <div class="person-photo">
        {% if person.avatar contains 'http' %}
        	<img src="{{ person.avatar }}" class="person-photo-img" alt="{{ person.name }} bio photo">
        {% else %}
        	<img src="{{ site.url }}/images/{{ person.avatar }}" class="person-photo-img" alt="{{ person.name }} bio photo">
        {% endif %}
        </div>

        <div class="person-info">
          <h3>{{ person.name }}</h3>
            <div class="social-box">
              {% if person.web %}<a href="{{ person.web }}" class="person-social" target="_blank"><i class="fa fa-fw fa-home"></i> Web</a>{% endif %}
              {% if person.email %}<a href="mailto:{{ person.email }}" class="person-social" target="_blank"><i class="fa fa-fw fa-envelope-square"></i>Email</a>{% endif %}
              {% if person.twitter %}<a href="http://twitter.com/{{ person.twitter }}" class="person-social" target="_blank"><i class="fa fa-fw fa-twitter-square"></i> Twitter</a>{% endif %}
              {% if person.google.plus %}<a href="http://plus.google.com/+{{ person.google.plus }}" class="person-social" target="_blank"><i class="fa fa-fw fa-google-plus-square"></i> Google+</a>{% endif %}
              {% if person.linkedin %}<a href="http://linkedin.com/in/{{ person.linkedin }}" class="person-social" target="_blank"><i class="fa fa-fw fa-linkedin-square"></i> LinkedIn</a>{% endif %}
              {% if person.github %}<a href="http://github.com/{{ person.github }}" class="person-social" target="_blank"><i class="fa fa-fw fa-github"></i> Github</a>{% endif %}
              {% if person.orcid %}<a href="https://orcid.org/{{ person.orcid }}" class="person-social" target="_blank"><i class="fa fa-fw fa-microphone"></i>ORCiD</a>{% endif %}

            </div>

          <p>{{ person.bio }}</p>

          <div class="person-affiliations-papers-posts">
              {% if person.affiliations %}
              <ul class="person-affiliations">
              {% for affiliation in person.affiliations %}
              <li>{% if affiliation.title_link %}<a id="aff-link" target="_blank" href="{{ affiliation.title_link }}">{% endif %}{{ affiliation.title }}{% if affiliation.title_link %}</a>{% endif %}{% if affiliation.inst %}, <a href="{{ affiliation.inst_link }}" id="aff-link" target="_blank">{{ affiliation.inst }}</a>{% endif %}.</li>
              {% endfor %}
              </ul>
              {% endif %}

              {% include _person_pubs.html %}

              {% include _person_posts.html %}
        </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>



