<div class="people">
{% for person in site.data.people %}
{% if person.official %}
<div class="person">
    <div class="person-photo">
    {% if person.avatar contains 'http' %}
    	<img src="{{ person.avatar }}" class="person-photo-img" alt="{{ person.name }} bio photo">
    {% else %}
    	<img src="{{ site.url }}/images/{{ person.avatar }}" class="person-photo-img" alt="{{ person.name }} bio photo">
    {% endif %}
    </div>

    <div class="person-info">
      <h3>{{ person.name }} <span class="person-role"> :: {{ person.role  }}</span></h3>
        <div class="social-box">
          {% if person.web %}<a href="{{ person.web }}" class="person-social" target="_blank"><i class="fa fa-fw fa-home"></i> Web</a>{% endif %}
          {% if person.email %}<a href="mailto:{{ person.email }}" class="person-social" target="_blank"><i class="fa fa-fw fa-envelope-square"></i>Email</a>{% endif %}
          {% if person.twitter %}<a href="http://twitter.com/{{ person.twitter }}" class="person-social" target="_blank"><i class="fa fa-fw fa-twitter-square"></i> Twitter</a>{% endif %}
          {% if person.google.plus %}<a href="http://plus.google.com/+{{ person.google.plus }}" class="person-social" target="_blank"><i class="fa fa-fw fa-google-plus-square"></i> Google+</a>{% endif %}
          {% if person.linkedin %}<a href="http://linkedin.com/in/{{ person.linkedin }}" class="person-social" target="_blank"><i class="fa fa-fw fa-linkedin-square"></i> LinkedIn</a>{% endif %}
          {% if person.github %}<a href="http://github.com/{{ person.github }}" class="person-social" target="_blank"><i class="fa fa-fw fa-github"></i> Github</a>{% endif %}
          {% if person.stackoverflow %}<a href="http://stackoverflow.com/users/{{ person.stackoverflow }}" class="person-social" target="_blank"><i class="fa fa-fw fa-stack-overflow"></i> Stackoverflow</a>{% endif %}
          {% if person.youtube %}<a href="https://youtube.com/user/{{ person.youtube }}" class="person-social" target="_blank"><i class="fa fa-fw fa-youtube-square"></i> Youtube</a>{% endif %}
          {% if person.address %}<br /><span class="person-social"><i class="fa fa-fw fa-map-marker"></i>Adress: {{ person.address  }}</span>{% endif %}
          {% if person.phone %}<br /><span class="person-social"><i class="fa fa-fw fa-phone"></i>Phone: {{ person.phone }}</span>{% endif %}
          {% if person.fax %}<span class="person-social"><i class="fa fa-fw fa-fax"></i>Fax: {{ person.fax }}</span>{% endif %}

        </div>

      <p>{{ person.bio }}</p>

      {% if person.affiliations %}
      <ul class="person-affiliations">
      {% for affiliation in person.affiliations %}
      <li>{% if affiliation.title_link %}<a id="aff-link" target="_blank" href="{{ affiliation.title_link }}">{% endif %}{{ affiliation.title }}{% if affiliation.title_link %}</a>{% endif %}{% if affiliation.inst %}, <a href="{{ affiliation.inst_link }}" id="aff-link" target="_blank">{{ affiliation.inst }}</a>{% endif %}.</li>
      {% endfor %}
      </ul>
      {% endif %}

    </div>

</div>
{% endif %}
{% endfor %}

<p class="notice">
<b>Meren's note on our struggle with the lack of gender diversity in the lab</b>: This is something we are quite upset about, and I finally decided to put a note about this on this page
to clarify things. Let me first start by stating the fact that the gender imbalance in this lab is clearly my failure. This note is not my attempt to excuse myself form this respnsibility,
but I wanted to explain why we are here honestly. I only advertised one postdoc position so far, which was the only time I had the opportunity to ameliorate this issue, however,
I wasn't lucky enough to get enough number of applications from women. When I mentioned to Rika Anderson our struggle with attracting applications from women to the lab, she speculated
that it might be because there is a major gender imbalance in computer science. Although that is true, I would like to mention that I am interested in working with highly qualified women,
in both microbiology, <i>and</i> computer science. I also am suggested to put photos of my collaborators on this page, since a very large fraction of the people I collaborate with are women,
to make sure people are not discouraged by the current representation of women in the lab. Although I understand the intention, I don't want to use names or photos of my friends and colleagues as a part of an
apology for something we have to fix. Throughout my life I was very critical of cultural and political practices that make people feel comfortable with the lack of diversity. If you
are considering applying to our lab, I would like you to know that I am not comfortable with the lack of diversity, and I would like to encourage you to apply, especially if you feel maybe
you shouldn't.
</p>
</div>
