<div class="fancy-hList-div">
  <ul class="fancy-hList">
    <li>
      <a href="{% post_url oligotyping/2014-08-16-installing-the-oligotyping-pipeline %}" class="fancy-menu">
        <span class="fancy-menu-title">MED Home</span>
      </a>
    </li>
    <li>
      <a href="{% post_url oligotyping/2012-05-11-oligotyping-pipeline-explained %}" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #745bab;">Installation</span>
      </a>
    </li>
    <li>
      <a href="{% post_url med/2014-11-04-med %}#running-med" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #53a6bb;">Running MED</span>
      </a>
    </li>
    <li>
      <a href="https://groups.google.com/forum/#!forum/oligotyping" target="_blank" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #546f08;">Duscussion Forum</span>
      </a>
    </li>
  </ul>
</div>
