<div class="fancy-hList-div">
  <ul class="fancy-hList">
    <li>
      <a href="{{ site.url }}/software/anvio/index.html" class="fancy-menu">
        <span class="fancy-menu-title">Anvi'o Home</span>
      </a>
    </li>
    <li>
      <a href="{% post_url anvio/2016-06-26-installation-v2 %}" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #745bab;">Installation</span>
      </a>
        <ul class="fancy-menu-dropdown">
          <li><a href="{% post_url anvio/2016-06-26-installation-v2 %}">Standard installation</a></li>
          <li><a href="{% post_url anvio/2015-08-20-installation-on-mac %}" target="_blank">OS X Installer</a></li>
          <li><a href="{% post_url anvio/2015-08-22-docker-image-for-anvio %}">Docker Image</a></li>
          <li><hr /></li>
          <li><a href="https://gist.github.com/meren/f1e674f774a30a209d82" target="_blank">Ubuntu/Debian Recipe</a></li>
          <li><a href="https://gist.github.com/meren/f2f247f78a6402e3370ea929de1d3510" target="_blank">Arch Linux Recipe</a></li>
        </ul>
    </li>
    <li>
      <a href="{% post_url anvio/2016-06-22-anvio-tutorial-v2 %}" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #53a6bb;">Tutorials</span>
      </a>
        <ul class="fancy-menu-dropdown">
          <li><a href="{% post_url anvio/2016-06-22-anvio-tutorial-v2 %}">Metagenomic Workflow</a></li>
          <li><a href="{% post_url anvio/2015-11-14-pangenomics %}">Pangenomic Workflow</a></li>
          <li><a href="{% post_url anvio/2016-02-27-the-anvio-interactive-interface %}">Interactive interface</a></li>
          <li><a href="{% post_url anvio/2015-06-10-combining-omics-data %}">Combining 'Omics data</a></li>
          <li><a href="{% post_url anvio/2015-07-20-analyzing-variability %}">Analyzing SNVs</a></li>
          <li><a href="{% post_url anvio/2015-05-11-anvi-refine %}">Refining MAGs</a></li>
          <li><a href="{% post_url anvio/2015-06-25-screening-cultivars %}">Screening Cultivars</a></li>
          <li><a href="{% post_url anvio/2016-06-06-working-with-contigs-only %}">Binning w/o Mapping</a></li>
        </ul>
    </li>
    <li>
      <a href="#" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #b7653b;">Help</span>
      </a>
        <ul class="fancy-menu-dropdown">
          <li><a href="http://github.com/meren/anvio/issues" target="_blank">Report an Issue</a></li>
          <li><a href="{% post_url anvio/2015-10-14-anvio-discussion-group %}">Join the Discussion</a></li>
          <li><a href="http://github.com/meren/anvio" target="_blank">See the Code</a></li>
        </ul>
    </li>
    <li>
      <a href="http://anvi-server.org" target="_blank" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #546f08;">Anvi'server!</span>
      </a>
    </li>
  </ul>
</div>
