<div class="fancy-hList-div">
  <ul class="fancy-hList">
    <li>
      <a href="http://merenlab.org/2016/08/18/events/" class="fancy-menu">
        <span class="fancy-menu-title">Workshops</span>
      </a>
    </li>
    <li>
      <a href="{% post_url anvio/2016-06-26-installation-v2 %}" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #745bab;">Installation</span>
      </a>
        <ul class="fancy-menu-dropdown">
          <li><a href="{% post_url anvio/2016-06-26-installation-v2 %}">Standard installation</a></li>
          <li><a href="{% post_url anvio/2015-08-22-docker-image-for-anvio %}">Docker Image</a></li>
          <li style="height: 0px;"><hr style="margin: 0px;" /></li>
          <li><a href="https://gist.github.com/meren/f1e674f774a30a209d82" target="_blank">Ubuntu/Debian Recipe</a></li>
          <li><a href="https://gist.github.com/meren/f2f247f78a6402e3370ea929de1d3510" target="_blank">Arch Linux Recipe</a></li>
          <li style="height: 0px;"><hr style="margin: 0px;" /></li>
          <li><a href="{% post_url anvio/2016-06-18-installing-third-party-software %}" target="_blank">Third Party Software</a></li>
        </ul>
    </li>
    <li>
      <a class="fancy-menu"><span class="fancy-menu-title" style="color: #53a6bb;">Tutorials</span></a>
        <ul class="fancy-menu-dropdown">
          <li><span style=""><b>More Abstract</b></span></li>
          <li><a href="{% post_url anvio/2016-06-22-anvio-tutorial-v2 %}">Metagenomics</a></li>
          <li><a href="{% post_url anvio/2016-11-08-pangenomics-v2 %}">Pangenomics</a></li>
          <li><a href="{% post_url anvio/2017-06-07-phylogenomics %}">Phylogenomics</a></li>
          <li><a href="{% post_url anvio/2015-07-20-analyzing-variability %}">Analyzing SNV<span style="text-transform: none;">s</span></a></li>
          <li><a href="{% post_url anvio/2015-06-10-combining-omics-data %}">Combining 'omics data</a></li>
          <li><a href="{% post_url anvio/2015-05-11-anvi-refine %}">Refining MAGs</a></li>
          <li><a href="{% post_url anvio/2015-06-25-screening-cultivars %}">Screening Cultivars</a></li>
          <li><a href="{% post_url anvio/2017-07-09-recovering-rRNAs %}">Recovering <span style="text-transform: none; color: red;">r</span>RNA<span style="text-transform: none;">s</span></a></li>
          <li><a href="{% post_url anvio/2016-06-06-working-with-contigs-only %}">Binning w/o Mapping</a></li>
          <li><a href="{% post_url anvio/2017-05-08-anvio-views %}">Anvi'o views</a></li>
          <li><a href="{% post_url anvio/2016-02-27-the-anvio-interactive-interface %}">Interactive data types</a></li>
          <li style="height: 0px;"><hr style="margin: 0px;" /></li>
          <li><span style=""><b>More Practical</b></span></li>
          <li style="height: 0px;"><hr style="margin: 0px;" /></li>
          <li><a href="{{ site_url }}/tutorials/infant-gut">Infant Gut</a></li>
          <li><a href="{{ site_url }}/tutorials/interactive-interface">Interactive interface</a></li>
          <li><a href="{% post_url anvio/2017-05-11-anvi-refine-by-veronika %}">Refining MAGs (Veronika)</a></li>
          <li><a href="{% post_url miscellaneous/2017-01-03-loki-the-link-archaea-eukaryota %}">Refining MAGs (Tom)</a></li>
          <li><a href="{{ site_url }}/tutorials/assembly-based-metagenomics">Assembly-Based MGx</a></li>
        </ul>
    </li>
    <li>
      <a href="#" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #b7653b;">Help</span>
      </a>
        <ul class="fancy-menu-dropdown">
          <li><a href="{{ site.url }}/software/anvio/vignette" target="_blank"><span style="color: red;">Vignette</span></a></li>
          <li style="height: 0px;"><hr style="margin: 0px;" /></li>
          <li><a href="http://github.com/meren/anvio/issues" target="_blank">Report an Issue</a></li>
          <li><a href="{% post_url anvio/2015-10-14-anvio-discussion-group %}">Join the Discussion</a></li>
          <li><a href="http://github.com/meren/anvio" target="_blank">See the Code</a></li>
          <li style="height: 0px;"><hr style="margin: 0px;" /></li>
          <li><a href="{% post_url anvio/2016-06-18-installing-third-party-software %}" target="_blank">Third Parthy Software</a></li>
          <li style="height: 0px;"><hr style="margin: 0px;" /></li>
          <li><a href="/testimonials/" target="_blank"><span style="color: red;">User Testimonials</span></a></li>
          <li style="height: 0px;"><hr style="margin: 0px;" /></li>
          <li><script async defer src="https://slackin-ezbpfhwsmh.now.sh/slackin.js"></script></li>
        </ul>
    </li>
    <!-- li>
      <a href="http://anvi-server.org" target="_blank" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #546f08;">Anvi'server!</span>
      </a>
    </li -->
  </ul>
</div>
