<div class="fancy-hList-div">
  <ul class="fancy-hList">
    <li>
      <a href="{% post_url oligotyping/2014-08-16-installing-the-oligotyping-pipeline %}" class="fancy-menu">
        <span class="fancy-menu-title">Installation</span>
      </a>
    </li>
    <li>
      <a href="{% post_url oligotyping/2012-05-11-oligotyping-pipeline-explained %}" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #745bab;">Tutorial</span>
      </a>
    </li>
    <li>
      <a href="{% post_url oligotyping/2013-11-04-oligotyping-best-practices %}" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #53a6bb;">Best Practices</span>
      </a>
    </li>
    <li>
      <a href="{% post_url oligotyping/2014-09-14-oligotyping-and-alignment %}" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #b7653b;">Alignment</span>
      </a>
    </li>
    <li>
      <a href="https://groups.google.com/forum/#!forum/oligotyping" target="_blank" class="fancy-menu">
        <span class="fancy-menu-title" style="color: #546f08;">Duscussion Forum</span>
      </a>
    </li>
  </ul>
</div>
