<span class="category-box">
    <a href="{% post_url oligotyping/2014-08-16-installing-the-oligotyping-pipeline %}" class="btn btn-warning">Installation</a>
    <a href="{% post_url oligotyping/2012-05-11-oligotyping-pipeline-explained %}" class="btn btn-success">The Pipeline</a>
    <a href="{% post_url oligotyping/2013-11-04-oligotyping-best-practices %}" class="btn btn-success">Best Practices</a>
    <a href="{% post_url oligotyping/2014-09-14-oligotyping-and-alignment %}" class="btn btn-success">Alignment</a>
</span>
