<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>
{% if page.comments %}
  {% include _disqus_comments.html %}
{% endif %}
<script>
$(function() {
  $('pre').each(function() {
    var $pre = $(this);
    if ($pre.find('code.language-no-copy').length) return;
    var $btn = $('<button class="copy-code-btn" title="Copy to clipboard"><i class="fa fa-copy"></i></button>');
    $pre.css('position', 'relative').append($btn);
    $btn.on('click', function() {
      var code = ($pre.find('code').length ? $pre.find('code').text() : $pre.text()).replace(/\n$/, '');
      navigator.clipboard.writeText(code).then(function() {
        $btn.find('i').removeClass('fa-copy').addClass('fa-check');
        setTimeout(function() {
          $btn.find('i').removeClass('fa-check').addClass('fa-copy');
        }, 1500);
      });
    });
  });
});
</script>
