<script>
/* Usage:
Include attribute to heading tags like below, comma seperated, case-insensitive.

    {:data-tags="pangenomics,pan"}
    ### Pangenomics

If you want data tags to only match whole words, then use define them this way:

    {:data-tags="<pan>"}
    ### Pangenomics

*/
(function() {
  let allTags = [];
  let word_separating_chars = [" ", ",", ".", "(", ")", "[", "]", "`", '"', "'", "-"];

  // go through all tags first
  document.querySelectorAll('[data-tags]').forEach((node) => {
    let words = node.getAttribute('data-tags').split(',');

    words.forEach((word) => {
      if (word.replace('<', '').replace('>', '').length > 3)
        allTags.push({'word': word, 'target': node.getAttribute('id')});
    });

    // We want longer tags to be done first otherwise pan would replace pangenomics always
    allTags.sort((a,b) => {
      if (a.word.length < b.word.length)
        return 1;
      if (a.word.length > b.word.length)
        return -1;
        return 0;
    });
  });

  // now all tags are figured out, so we are ready to go each paragraph
  document.querySelectorAll('p').forEach((p) => {
    allTags.forEach((tag) => {
      p.childNodes.forEach((node) => {
        if (node.nodeType == Node.TEXT_NODE) {
          let contentLower = node.nodeValue.toLowerCase();
          let wordLower = tag.word.toLowerCase();
          let considerWholeWordsOnly = false;

          if (wordLower.startsWith('<') && wordLower.endsWith('>')){
              wordLower = wordLower.slice(1, -1);
              considerWholeWordsOnly = true;
          }

          let start = contentLower.indexOf(wordLower);

          let okToContinue=false;
          if (start > -1) {
              if (considerWholeWordsOnly) {
                  if (start > -1 && word_separating_chars.includes(contentLower[start - 1]) && word_separating_chars.includes(contentLower[start + wordLower.length])){
                      okToContinue = true;
                  }
              } else {
                  okToContinue = true;
              }
          }

          if (okToContinue) {
              let preText = document.createTextNode(node.nodeValue.slice(0, start));
              let postText = document.createTextNode(node.nodeValue.slice(start + wordLower.length, contentLower.length));
              let link = document.createElement('a');
              link.setAttribute('href', '#' + tag.target);
              link.innerHTML = node.nodeValue.slice(start, start + wordLower.length);

              p.insertBefore(preText , node);
              p.insertBefore(link    , node);
              p.insertBefore(postText, node);
              p.removeChild(node);
          }
        }
      });
    });
  });
})();
</script>
