.subnetwork {
    width: 100%;
    height: 300px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #ffffff, #f1f1f1);
    margin-bottom: 12px;
}

#logo {
    float: left;
}

#logo img {
    border: none;
    border-radius:100px;
    background-color:rgba(255,255,255,0.75);
}

#description {
    padding: 8px;
    border-bottom: 4px dashed #d6d6d6;
}

#infopanel {
    position: absolute;
    display: block;
    top: 78px;
    margin-left: 25px;
    left: 5px;
    width: 239px;
    padding: 5px;
    background: rgba(255,255,255,0.9);
    border: 1px solid lightgray;
    font-size: 12px;
    font-family: 'Lora', serif;
    line-height: 1.5;
    border-radius: 10px;
    box-shadow: 5px -5px 26px rgba(179,179,179,0.5);
    bottom: 10px;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

#infopanel::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

#infopanel::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(20px);
  z-index: -1;
}

#infopanel img {
    float: left;
    clear: left;
    margin: 2px;
    padding: 3px;
    marginr-right: 13px;
    border: none;
    border-radius: 0px;
}

.info {
    padding-right: 10px;
    min-height: 50px;
    margin-top: 8px;
}

.info p {
    line-height: 14px;
    padding-left: 40px;
    padding-top: 3px;
}
