/* ==========================================================================
   Page layout
   ========================================================================== */

body {
    background-color: $bodycolor;
    font-family: $base-font;
    color: $text-color;
    font-size: 11pt;
}

p {
  line-height: 1.6em;
}

/*
   Header
   ========================================================================== */

.page ul {
    line-height: 1.6em;
}

.imgclipholder p {
    color: #6b6b6b;
    background: #f5f5f5;
    width: 90%;
    margin: auto;
    margin-top: -10px;
    margin-left: 13px;
    margin-bottom: 10px;
    font-size: smaller;
    font-style: italic;
    padding-left: 4px;
    padding-right: 4px;
}

.imgclip{
    width: 95%;
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 10px solid #efefef !important;
    border-radius: 10px;
    -moz-box-shadow:    3px 3px 5px 6px #ddd;
    -webkit-box-shadow: 3px 3px 5px 6px #ddd;
    box-shadow:         3px 3px 5px 6px #ddd;
}

.imgclip .clippedimg{
    border:none !important;
}

.figure-caption {
    margin-top: -15px !important;
    font-size: smaller;
    font-style: italic;
}

.discord-button-img {
    height: 12px;
    margin-bottom: 4px;
    margin-left: 1px;
}

.discord-button-img-big {
    height: 20px;
    margin-bottom: 4px;
}


.twitter-tweet {
    padding-left: 40px;
    padding-bottom: 20px;
}

.EmbeddedTweet-tweetContainer {
    box-shadow: 7px 7px 15px 1px #ccc;
}

.codeblock {
    white-space: pre;
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    overflow-x: auto;
    background-color: #efefef;
    border: 1px solid #969696;
    margin-bottom: 30px;
    padding: 0px;
    padding-left: 20px;
    border-left: 5px solid #dc5252;
    border-radius: 5px;
    font-size: .75rem;
    line-height: 1.5;
}

.artifact-p {
    background:#cbe4d5;
    padding: 0px 3px 2px 3px;
    border-radius: 2px;
    a {
      color: #444499 !important;
    }
}

.artifact-r {
    background:#dcbfe8;
    padding: 0px 3px 2px 3px;
    border-radius: 2px;
    a {
      color: #444499 !important;
    }
}

.artifact-n {
    background: #e1dbf9;
    padding: 1px 3px 1px 3px;
    border-radius: 2px;
    a {
      color: #444499 !important;
    }
}


.artifact-icon-div {
    width: 30px;
}

.artifact-icon {
    border: none !important;
    border-radius: 0px !important;
    object-fit:scale-down;
}

.artifact-icon-mini {
    height: 13px;
    border: none !important;
    border-radius: 0px !important;
    object-fit:scale-down;
}

.artifacts-table {
    font-family: unset;
}

.artifact-emoji {
    font-size: inherit;
}

.programs-table{
    font-family: unset;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 8px;
}

.artifact-list-td {
    line-height: 28px;
}

.artifact-p-td {
    background: #eefff5;
    line-height: 28px;
}

.artifact-r-td {
    background: #f9f5fb;
    line-height: 28px;
}

.program-td {
    background: #f1f1f1;
}

.programs-table tbody {
    display: table;
    width: 100%;
}

.programs-table td {
    border: none;
}
.artifacts-table td {
    border: none;
}

summary {
    background: #f4f5ea;
    padding: 5px;
    margin-bottom: 8px;
    border-radius: 5px;
    font-variant: small-caps;
    font-weight: bold;
    box-shadow: 4px 4px 8px #d8d8d8;
    outline: none;
    background-image: linear-gradient(-90deg, #ff9a9a, #ffff62);
}

details {
    padding: 15px;
    border: 1px #bbbbbb dashed;
    border-radius: 5px;
    background-image: linear-gradient(90deg, rgb(243, 243, 243) 0%, rgba(255,255,255,1) 32%);
    margin-bottom: 10px;
}

.group-photo {
    width: 75%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 8px 8px 21px rgba(0, 0, 0, 0.3);
}

.discord-button {
    box-shadow: 0px 0px 25px 3px #d8d8d8;
    border-radius: 8px;
    /* padding: 5px; */
    background-image: linear-gradient(#ffffff, #fff9e9);
    background-color: #fff9e9;
    margin: 10px;
    margin-bottom: 20px;
    padding: 5px;
    padding-top: 9px;
    padding-left: 9px;
}

.discord-invitation {
    position: relative;
    top: -3px;
    font-family: -webkit-body;
    font-variant: all-petite-caps;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  font-family: monospace;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

table.js-file-line-container tr {
    border: 0px;
}

th, td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.category-box {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 0.2em;
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 20px;
    @media #{$micro} {
        display: none;
    }
    @media #{$small} {
        display: none;
    }
    @media #{$medium} {
    display: block;
    }
    @media #{$large} {
    display: block;
    }
    @media #{$x-large} {
    display: block;
    }
}

.category-item {
    margin: 2px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0.2em;
    background-color: #DDD;
    text-transform: uppercase;
    font-family: $heading-font;
    font-weight: 700;
}

.navigation-wrapper {
    @include container;
    padding: 2em 0 1em;
    font-family: $heading-font;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #FEFEFE;
    border-bottom: 1px solid #DEDEDE;
    @include clearfix;
    background: url('../../images/fractal.jpg') center center scroll;
}

.quotable {
    margin-left: 40px;
    margin-bottom: 20px;
    text-align: justify;
    font-variant: small-caps;
    border-left: 7px solid #828282;
    padding: 8px;
    padding-left: 10px;
    background: url('../../images/fractal.jpg') center center scroll;
    color: #464646;
}

.people {
    @include grid(12,12);
    @include prefix(12,0);
    @include suffix(12,0);
    margin-bottom: 1em;
    @media #{$small} {
        @include grid(12,6);
        @include prefix(12,0);
        @include suffix(12,0);
    }
    @media #{$x-large} {
    }
}

.page-person-info-box {
    float: right;
}

.page-person-info-box-mini {
    float: right;
}

.page-person-photo {
    float: left;
    min-width: 50px;
    width: 50px;
    padding-left: 5px;

    @media #{$micro} {
        display: none;
    }
    @media #{$small} {
        display: none;
    }
    @media #{$medium} {
    display: -webkit-box;
    }
    @media #{$large} {
    display: -webkit-box;
    }
    @media #{$x-large} {
    display: -webkit-box;
    }
}

.page-person-photo-img {
    border-radius: 150px !important;
    max-width: 50px;
    height: 50px;
    border: none !important;
}

.page-person-photo-img-mini {
    border-radius: 150px !important;
    max-width: 30px;
    height: 30px;
    border: none !important;
}

.page-author-social-box {
    border-top: 1px solid #e2e2e2;
    margin: 5px;
    margin-top: 3px;
    padding-top: 2px;
}

.social-box {
    border-radius: 0.2em;
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 3px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.person-social {
    font-size: 80%;
}

.pub_float {
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 4px 4px 14px 1px #ccc;
    width: 90%;
    border: 1px solid #bcbcbc;
    border-radius: 14px;
    padding: 5px;
    background-image: linear-gradient(#f4f4f4, #efefef);
    h3 {
        margin-bottom: 6px;
        margin-top: 5px;
        margin-left: 9px;
    }
    p {
        font-size: 90%;
        font-style: italic;
    }
    a, a:hover {
        font-size: 80%;
        border-bottom: 0 solid transparent;
    }
}


.pub {
    margin-bottom: 30px;
    p {
        font-size: 90%;
        font-style: italic;
    }
    a, a:hover {
        font-size: 80%;
        border-bottom: 0 solid transparent;
    }
}

.pub-title {
    font-size: 1.8em;
    font-family: "PT Sans Narrow",sans-serif;
    font-weight: bold;
    line-height: 20px;
    display: block;
    padding: 5px;
    padding-left: 8px;
    padding-bottom: 9px;
    border-left: 10px solid #d4d4d4;
}

.pub_float .pub-title {
    border-left: none;
}

.pub-authors {
    display: block;
    width: 95%;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 4px;
    font-variant: small-caps;
    color: rgb(102, 102, 102);
}

.pub_float .pub-authors {
    padding-left: 8px;
}

.pub-co-first-authors {
    display: block;
    width: 95%;
    padding-left: 25px;
    margin-bottom: 5px;
    margin-top: -10px;
    color: #717171;
    font-size: smaller;
    font-style: italic;
}

.pub_float .pub-co-first-authors {
    padding-left: 12px;
}

.pub-member-author {
    color: black;
    font-weight: bolder;
}

.pub-collaborator-author {
    font-weight: bolder;
    color: #682828;
}

.pub-journal {
    background-image: linear-gradient(to right, #fafafa, #d4d4d4);
    display: block;
    text-align: right;
    border: 1px #f4f4f4 solid;
    border-radius: 10px;
    margin-left: 20px;
    padding: 4px;
    padding-right: 14px;
    font-size: small;
}

.pub_float .pub-journal {
    margin-left: 8px;
    background-image: none;
    border: none;
}

.pub-info {
    background-image: linear-gradient(to left, #fefff0, white);
    border: 1px #f4f4f4 solid;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:20px;
    border-radius: 10px;
    padding: 4px;
    font-size: small;
    min-height: 100px;
}

.pub_float .pub-info {
    margin-left: 8px;
    margin-right: 8px;
    background: white;
    border: 1px #bcbcbc solid;
}

.pub-info-no-image {
    background-image: linear-gradient(to left, #fefff0, white);
    border: 1px #f4f4f4 solid;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:20px;
    border-radius: 10px;
    padding: 4px;
    padding-right: 14px;
    font-size: small;
}

.pub_float .pub-info-no-image {
    margin-left: 8px;
}

.pub-featured-image {
  width: 100px;
  padding: 5px;
  float: left;
}

.pub-highlights {
    padding-left: 115px;
}

.pub-highlights a, .pub-highlights-no-image a, .pub-highlights a:hover, .pub-highlights-no-image a:hover {
        font-size: 100%;
        text-decoration: underline;
    }


.pub-highlights-no-image {
    padding-left: 5px;
}

.page-author {
  margin-bottom: 1em;
  display: inline-block;
}

.page-author-mini {
  display: inline-block;
}
.authored {
  margin-bottom: 0px;
  line-height: 1.2em;
}

.centerimg {
  text-align: center;
  margin-bottom: 1em;
}

.center-img {
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
  display: block;
}

.extra-info {
    width: 90%;
    margin: 25px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    background: aliceblue;
}

.extra-info-header {
    border-bottom: 1px solid gray;
    display: block;
    margin-bottom: 10px;
    font-variant: small-caps;
    font-weight: bold;
}

.page-author-info {
    display: inline-table;
    float: left;
    background: linear-gradient(90deg, white, #efefef);
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    padding-top: 5px;

    p {
        font-size: 90%;
        font-style: italic;
    }
    a, a:hover {
        font-size: 80%;
        border-bottom: 0 solid transparent;
    }
}

.page-author-name {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    color: #626262;
    font-family: "PT Sans Narrow",sans-serif;
    font-weight: bold;
    font-size: 1.6em;
    line-height: 1.0833;
}

.person-affiliations {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 20px;
  padding: 5px;
  font-size: 1em;
  font-family: HelveticaNeue-Thin;
  border: 1px dashed #e4e4e4;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #fbfbfb;
}

.person-affiliations li:before {
    content: "»";
    padding-right: 5px;
}

#aff-link {
    font-size: 1em;
    color: #1111AA;
}

.person-blogs {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 20px;
  padding: 5px;
  font-size: 1em;
  font-family: "PT Sans Narrow",sans-serif;
  border: 1px dashed #e4e4e4;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #f1fbfb;
}

.person-blogs li:before {
    content: "✍️";
    padding-right: 8px;
}

.person-papers {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 20px;
  padding: 5px;
  font-size: 1em;
  font-family: "PT Sans Narrow",sans-serif;
  border: 1px dashed #e4e4e4;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #fbf1f1;
}

.person-papers li:before {
    content: "📰";
    padding-right: 8px;
}

#contrib-link {
    font-size: 1.25em;
    color: #333332;
}

.person {
    min-height: 150px;
    margin-bottom: 10px;
    border-bottom: 1px solid #F4F4F4;
}

.person-role {
  font-weight: lighter;
  opacity: .5;
}

.person-info {
    margin-right: 30px;
    h3 {
        margin-bottom: 0;
    }
    p {
        font-style: italic;
        padding-left: 140px;
        margin-bottom: 12px;
        margin-top: 12px;
        color: #a7a7a7;
    }
    a {
        color: #a7a7a7;
    }
}

.person-affiliations-papers-posts {
    padding: 13px;
    margin-left: 50px;
    margin-bottom: 20px;
    border: 1px dashed #e9e9e9;
    border-radius: 10px;
    background-image: linear-gradient(to right, whitesmoke, #ffffff00);
}

.person-info-text a {
    color: #4b4b8e;
}

.person-current-info {
    text-decoration: underline;
}

.persons-title {
  font-size: xx-large;
  font-variant: small-caps;
  margin-top: 65px;
  border-bottom: 1px solid black;
}

.person-photo {
    float: left;
    min-width: 120px;
    width: 120px;
    @media #{$micro} {
        display: none;
    }
    @media #{$small} {
        display: none;
    }
    @media #{$medium} {
    display: -webkit-box;
    }
    @media #{$large} {
    display: -webkit-box;
    }
    @media #{$x-large} {
    display: -webkit-box;
    }
}

.person-photo-img {
    @include rounded(150px);
    max-width: 110px;
    height: 110px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    @media #{$small} {
        @include rounded(100px);
    }
    @media #{$x-large} {
    }
}

.mission {
  display: block;
  margin-bottom: 2em;
  margin-top: 2em;
  font-variant: small-caps;
  text-align: justify;
  font-size: x-large;
  background: url('../../images/fractal.jpg') center center scroll;
  border-radius: 20px;
  padding: 10px 20px;
}

/* Site name */
.site-name {
    @include grid(12,10);
    @include prefix(12,1);
    @include suffix(12,1);
    margin-bottom: 1em;
    float: none;
    display: block;
    @include font-rem(24);
    @media #{$small} {
        @include grid(12,1);
        @include prefix(12,0.5);
        @include suffix(12,0.5);
        @include font-rem(16);
    }
    @media #{$x-large} {
    }
}

/* Top navigation links */
.top-navigation {
    @include grid(12,10);
    @include prefix(12,1);
    @include suffix(12,1);
    margin-bottom: 1em;
    float: none;
    display: block;
    @media #{$small} {
        @include grid(12,9);
        @include prefix(12,0);
        @include suffix(12,0);
    }
    @media #{$x-large} {
    }
    ul {
        margin: 0;
        padding: 0;
        clear: both;
        list-style-type: none;
    }
    li {
        display: block;
        list-style-type: none;
        border-bottom: 1px solid lighten($black,80);
        border-bottom: 1px solid fade($black,10);
        @include font-rem(16);
        &:last-child {
            border-bottom: 0 solid transparent;
        }
        @media #{$small} {
            display: inline;
            margin-right: 25px;
            white-space: nowrap;
            border-bottom: 0 solid transparent;
        }
        a { 
            display: block;
            padding: 10px 0;
            decoration: none;
            border-bottom: 0 solid transparent;
            @include transition(all .2s);
            @media #{$medium} {
                display: inline;
                padding: 0;
            }
            @media #{$small} {
                display: inline;
                padding: 0;
            }
        }
    }
}

/* Animated lines for mobile nav button */
$button-size: 1.5rem;
@mixin navicon-line() {
    display: inline-block;
    width: $button-size;
    height: $button-size/7;
    // line color
    background: $white;
    border-radius: $button-size/14;
    transition: .3s;
}
.navicon-lines-button {
    padding: $button-size/4 $button-size/2;
    transition: .3s;
    cursor: pointer;
    user-select: none;
    border-radius: $button-size/7;
}
.navicon-lines-button:hover {
    opacity: 1;
}
.navicon-lines-button:active {
    transition: 0;
}
.navicon-lines {
    margin-right: 10px;
    margin-bottom: $button-size/5;
    // create middle line
    @include navicon-line;
    position: relative;
    // create the upper and lower lines as pseudo-elements of the middle line
    &:before,
    &:after {
        @include navicon-line;
        position: absolute;
        left: 0;
        content: '';
        -webkit-transform-origin: $button-size/14 center;
        transform-origin: $button-size/14 center;
    }
    &:before { top: $button-size/4; }
    &:after { top: -$button-size/4; }
}
.navicon-lines-button:hover {
    opacity: 1;
    .navicon-lines {
        &:before { top: $button-size/3.5; }
        &:after { top: -$button-size/3.5; }
    }
}
.navicon-lines-button.x.active .navicon-lines {
    // hide the middle line
    background: transparent;
    // overlap the lines by setting both their top values to 0
    &:before,
    &:after {
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        top: 0;
        width: $button-size;
    }
    // rotate the lines to form the x shape
    &:before {
        -webkit-transform: rotate3d(0,0,1,45deg);
        transform: rotate3d(0,0,1,45deg);
    }
    &:after {
        -webkit-transform: rotate3d(0,0,1,-45deg);
        transform: rotate3d(0,0,1,-45deg);
    }
}
// Style the toggle menu link and hide it
.nav .navtoogle {    
    @include font-rem(18);
    font-weight: normal;
    background-color: $black;
    color: $white;    
    border: none;
    cursor: pointer;
    @media #{$small} {
        display: none;
    }
}
.nav button {
    border: none;
    background: none;
}
.navtoogle i {
    z-index:-1;
}
.icon-menu {
    position: relative;
    top: 3px;
    line-height: 0;
}
// When JavaScript is disabled, we hide the toggle button
.no-js .nav .navtoggle {
    display: none;
}
// When JavaScript is disabled, we show the menu
.no-js .nav ul {
    max-height: 30em;
    overflow: hidden;
}
// When JavaScript is enabled, we hide the menu
.js .nav ul {
    max-height: 0;
    overflow: hidden;
    @media #{$small} {
        max-height: 30em;
    }
}
// Displaying the menu when the user has clicked on the button
.js .nav .active + ul {        
    max-height: 30em;
    overflow: hidden;
    -webkit-transition: max-height .4s;
    -moz-transition: max-height .4s;
    -o-transition: max-height .4s;
    -ms-transition: max-height .4s;
    transition: max-height .4s;
}

/* Main content */
#main {
    counter-reset: captions;
    @include container;
    @include clearfix;
    clear: both;
    margin-top: 0;
    padding-left: 20px;
    box-sizing: border-box;
    h1 {
        margin-top: 0;
    }
    .post,
    .page {
        @include container;
        @include grid(12,10);
        @include prefix(12,0);
        @include suffix(12,0);
        margin-bottom: 1em;
        @media #{$small} {
            @include grid(12,6);
            @include prefix(12,0);
            @include suffix(12,0);
        }
        @media #{$x-large} {
        }
    }
}

#main .post {
  margin-top: 2em;
}

#main .network {
  margin-top: 0em;
}

/* Index listing specific styling */
#index {
    @include container;
    @include grid(12,10);
    @include prefix(12,1);
    @include suffix(12,1);
    margin-bottom: 2em;
    @media #{$small} {
        @include grid(12,6);
        @include prefix(12,0);
        @include suffix(12,0);
    }
    @media #{$x-large} {
    }
    article {
        h2 {
            margin-bottom: 4px;
            @include font-rem(20);
            &.link-post {
                margin-bottom: 0px + $doc-line-height;
                margin-bottom: 0rem + ($doc-line-height / $doc-font-size);
            }
        }
        p {
            @include font-rem(14);
        }
        p+p {
            text-indent: 0;
        }
    }
}

/* Large feature header image */
.image-wrap {
    position: relative;
    margin-bottom: -4px;
    @include clearfix;
    &:after {
        content: " ";
        display: block;
        position: absolute;
        bottom: 0;
        left: 8%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom-color: $bodycolor;
        @media #{$small} {
            left: 25%;
        }
        @media #{$large} {
            border-width: 20px;
        }
        @media #{$x-large} {
        }
    }
    img {
        width: 100%;
        height: auto;
    border-bottom: 1px solid #dedede;
        -ms-interpolation-mode: bicubic;
    }
    .headline-wrap {
        position: absolute;
        bottom: 25px;
        @include prefix(12,1);
        @media #{$small} {
            left: 25%;
            margin-left: 0;
        }
        @media #{$x-large} {
        }
        h1, h2 {
            color: $white;
            @include text-shadow(0 1px 2px rgba(0,0,0,.25));
        }
    }
}

/* Post byline */
.byline {
    clear: both;
    font-size: 80%;
}
.article-author-side,
.article-author-bottom {
  margin-top: 2em;
    h3 {
        margin-bottom: 0;
    }
    p {
        font-size: 80%;
        font-style: italic;
    }
    a, a:hover {
        border-bottom: 0 solid transparent;
    }
}

/* Default social media links in author sidebar */
.author-social {
  display: block;
  margin-bottom: 5px;
  @include font-rem(14);
  color: $black;
  &:visited {
    color: $black;
  }
  &:hover {
    @include scale(1.1);
  }
  &:active {
    @include translate(0, 2px);
  }
  .fa {
        margin-right: 5px;
    }
}

/* Author sidebar */
.article-author-side {
    display: none;
    .bio-photo {
        max-width: 110px;
        @include rounded(150px);
    }
    @media #{$small} {
        display: block;
        @include grid(12,2);
        @include prefix(12,1);
        @include suffix(12,2);
        h3,
        p,
        .author-social {
            display: block;
            max-width: 125px;
        }
        h3 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 20px;
        }
        .author-social {
            margin-bottom: 5px;
        }
    }
    @media #{$large} {
        @include grid(12,1);
        @include prefix(12,0.25);
        @include suffix(12,1);
        h3,
        .bio-photo,
        p,
        .author-social {
            max-width: 150px;
        }
    }
    @media #{$x-large} {

    }
}

/* Author module - mobile only */
.article-author-bottom {
    margin-bottom: 1em;
    @media #{$small} {
        display: none;
    }
    .bio-photo {
        float: left;
        margin-right: 25px;
        max-width: 100px;
        @include rounded(150px);
    }
    .author-social {
        display: inline-block;
        margin-right: 10px;
    }
    @media #{$large} {
        h3,
        .bio-photo,
        p,
        .author-social {
            max-width: 150px;
        }
    }
}

/* Post content wrapper */
.article-wrap {
    // Dotted line underlines for links
  margin-top: 2em;
    p > a {
        text-decoration: underline;
    }
}

/* Table of contents */
.toc {
    max-height: calc(100% - 4em);
    overflow-y: auto;
    font-size: 95%;
    box-shadow: 6px 12px 34px 7px #909090;
    margin-bottom: 40px;
    background-color: #8A8A8A;
    @media #{$large} {
        width: 16%;
        position: fixed;
        top: 2em;
        right: 2em;
    }
    header {
        background: #234C71;
        padding: 5px;
    }
    h3 {
        margin: 0;
        padding: 5px 10px;
        color: $white;
        @include font-rem(16);
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
        }
    }
    ul {
        margin: 2px 0 0;
        padding: 0;
        line-height: 1;
    }
    li {
        display: block;
        margin: 0 0 1px 0;
        padding: 0;
        font-family: $heading-font;
        list-style-type: none;
        &:last-child {
            border-bottom-width: 0;
        }
        a {
            padding: 10px;
            display: block;
            color: $white;
            outline:none;
            text-decoration: none;
            background: lighten($black, 30);
            @include opacity(0.7);
            @include transition(opacity 0.2s ease-in-out);
            &:hover {
                @include opacity(1);
            }
        }
        a.header-active {
            background-color: #152e44;
        }
        ul {
            margin: 1px 0 0;
            li a {
                padding-left: 20px;
            }
        }
    }
}

/* TOC trigger for collapsing */
#drawer {
    max-height: 100%;
    overflow: hidden;
    &.js-hidden {
        max-height: 0;
    }
}

/* Image grid - not used */
.image-grid {
    @include clearfix;
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
    li {
        @include grid(12,6);
        @media #{$micro} {
            width: 33.333333%;
        }
        @media #{$small} {
            width: 25%;
        }
        @media #{$medium} {
            width: 20%;
        }
        @media #{$large} {
            width: 16.666666666%;
        }
    }
}

/* Recent grid - not used */
.recent-grid {
    @include clearfix;
    list-style: none;
    margin: 1em 0;
    li {
        display: inline;
        a { 
            border-bottom: 0 solid transparent;
            &:hover {
                border-bottom: 0 solid transparent;
            }
        }
    }
    img {
        width: 19%;
        margin-bottom: 1%;
    }
}

/* Social sharing links */
/* Social media brand buttons */
.social-share {
  margin-bottom: 0px + $doc-line-height;
  margin-bottom: 0rem + ($doc-line-height / $doc-font-size);
  ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  li {
      display: inline-block;
  }
  $social: 
  (facebook, $facebook-color),
  (flickr, $flickr-color),
  (foursquare, $foursquare-color),
  (google-plus, $google-plus-color),
  (instagram, $instagram-color),
  (linkedin, $linkedin-color),
  (pinterest, $pinterest-color),
  (rss, $rss-color),
  (tumblr, $tumblr-color),
  (twitter, $twitter-color),
  (vimeo, $vimeo-color),
  (youtube, $youtube-color);
  @each $socialnetwork, $color in $social {
    .#{$socialnetwork} {
      background: $color;
    }    
  }
  a {
      display: block;
      padding: 8px 20px;
      text-decoration: none !important;
      text-transform: uppercase;
      @include font-rem(14);
      font-family: $heading-font;
      font-weight: 700;
      color: $white;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
    span {
        display: none;
        @media #{$medium} {
            display: inline;
            padding-left: 5px;
        }
    }
    h4 {
        @include font-rem(14);
        margin-bottom: 10px;
        text-transform: uppercase;
    }
}


/* Footer wrapper */
.footer-wrap {
    @include container;
    @include clearfix;
    clear: both;
    padding-bottom: 3em;
    a,
    a:active,
    a:visited,
    p,
    h4,
    h5,
    h6,
    span { 
        @include font-rem(14);
    }
    footer {
        @include grid(12,10);
        @include prefix(12,1);
        @include suffix(12,1);
        @media #{$small} {
            @include grid(12,6);
            @include prefix(12,3);
            @include suffix(12,3);
        }
        @media #{$x-large} {
        }
    }
}

/* Related articles list */
.related-articles {
    @include grid(12,10);
    @include prefix(12,1);
    @include suffix(12,1);
    margin-bottom: 2em;
    @media #{$small} {
        @include grid(12,6);
        @include prefix(12,3);
        @include suffix(12,3);
    }
    @media #{$x-large} {
    }
    h4 {
        text-transform: uppercase;
        margin-bottom: 0;
    }
    li {
        margin-bottom: 0;
    }
}

/* 
   Browser upgrade alert
   ========================================================================== */

.browser-upgrade {
    background: #000;
    text-align: center;
    margin: 0 0 2em 0;
    padding: 10px;
    text-align: center;
    color: $white;
    a {
        color: $white;
        border-bottom: 1px dotted $white;
        text-decoration: none;
        &:hover {
            border-bottom: 1px solid $white;
        }
    }
}
/* 
   Google search form
   ========================================================================== */

#goog-fixurl {
    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        li {
            list-style-type: none;
        }
    }
}
#goog-wm-qt {
    width: auto;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 8px 20px;
    display: inline-block;
    @include font-rem(14);
    background-color: $white;
    color: $black;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: lighten($black,50);
    @include rounded(3px);
}
#goog-wm-sb {
    @extend .btn;
}

.lbl {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;
    border-radius: .25rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    box-sizing: inherit;
}

.altmetric-embed {
    float: right;
    margin-top: -3px;
    margin-left: 5px;
}

.__dimensions_badge_embed__ {
    float: right;
    margin-right: 6px;
    margin-top: -3px;
}


.tags {
    border: 1px solid #d7d7d7;
    padding: 0px 3px;
    border-radius: 3px;
    margin-left: 5px;
    font-size: 10px;
}

#current-affiliation {
    color: green;
}

#past-affiliation {
    color: red;
}

#funding-logo {
    border: none !important;
    width: 150px;
    border-radius: 0px !important;
    margin: 24px;
}
