/* ==========================================================================
   Typography
   ========================================================================== */

/* 
   Headings
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
}
h1 {
	@include font-size(32);
}
h2 {
	@include font-size(28);
}
h3 {
	@include font-size(24);
}
h4 {
	@include font-size(18);
}
h5 {
	@include font-size(16);
}
h6 {
	@include font-size(14);
}

#articlecontent h2 {
	margin-left: -8px;
	margin-right: -8px;
    margin-top: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    border-bottom: 5px solid #DDD;
    background: -webkit-linear-gradient(#EEE, #FFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EEE, #FFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EEE, #FFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EEE, #FFF); /* Standard syntax */
}

#articlecontent h3 {
    padding: 0em;
}

#articlecontent a {
    color: #444499;
    text-decoration: none;
}

#table-of-contents a {
    color: white;
}

#articlecontent p {
    text-align: justify;
}


#articlecontent img {
    border: 10px solid #EEE;
    border-radius: 10px;
}

/* 
   Links
   ========================================================================== */

a { 
	text-decoration: none;
	color: $link-color; 
	&:visited { 
		color: $linkcolorvisited; 
	}
	&:hover { 
		color: $linkcolorhover; 
	}
	&:focus { 
		outline: thin dotted; 
		color: $linkcolorfocus;
	}
	&:hover, 
	&:active { 
		outline: 0; 
	}
}

/* 
   Figure captions
   ========================================================================== */

figcaption {
	padding-top: 10px;
	@include font(14);
	line-height: 1.3;
	color: lighten($text-color, 10);
}

/* 
   Feature image captions
   ========================================================================== */

.image-credit {
	@include grid(12,10);
	@include prefix(12,1);
	@include suffix(12,1);
	display: block;
	text-align: right;
	@include font(12);
	line-height: 1.3;
	font-style: italic;
	color: lighten($text-color, 30);
	@media #{$small} {
		@include grid(12,9);
		@include prefix(12,0);
		@include suffix(12,0);
	}
	@media #{$x-large} {
		@include grid(12,8.5);
	}
	a {
		color: lighten($text-color, 30);
	}
}

/* 
   Notices
   ========================================================================== */

.notice {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: 1.5em;
	padding: .5em;
    text-align: justify;
	text-indent: 0;
	@include font-rem(14);
	background-color: #FFFFCC;
	border: 1px solid darken($body-color,20);
	@include rounded(3px);
}

/* 
   Blockquotes
   ========================================================================== */

blockquote {
	margin-left: -28px;
	padding-left: 20px;
	border-left: 8px solid $border-color;
	font-family: $alt-font;
	font-style: italic;
}

/* 
   Footnotes
   ========================================================================== */

.footnotes {
	ol, li, p {
		margin-bottom: 0;
		@include font-rem(14);
	}
}

/* 
   Paragraphs
   ========================================================================== */

p {
	margin: 0 0 $indent-var;
	// sibling indentation
  @if $paragraph-indent == true {
    & + p {
			text-indent: $indent-var;
			margin-top: -($indent-var);

		}
	}
}

/* 
   Code snippets
   ========================================================================== */

tt, code, kbd, samp, pre {
	font-family: $code-font;
}
p,
li { 
	code {
		@include font-rem(12);
		line-height: 1.5;
		white-space: nowrap;
		margin: 0 2px;
		padding: 0 5px;
		border: 1px solid lighten($black, 90);
		background-color: #efefef;
		@include rounded(3px);
	}
}
pre {
	@include font-rem(12);
	line-height: 1.5;
	overflow-x: auto;
    background-color: #EEE;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #DDD;
    border-left: 5px solid #BBB;
    border-radius: 5px;
}
