<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post-index">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% include _imagewrap.html %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _left-panel.html %}
</div>

<div id="index" style="margin-top: 25px;">

{% for post in site.posts %}
      <article>
          {% assign author = None %}
          {% assign p = post.authors[0] %}
          {% for e in site.data.people %}
            {% if e.alias == p %}
                {% assign author = e %}
            {% endif %}
          {% endfor %}
            <div class="post-index-entry">
              <div class="post-thumbnail">
                {% if post.thumbnail %}
                  <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
                    <img src="{{ site.url }}{{ post.thumbnail }}" alt="{{ post.title }}" />
                  </a>
                {% else %}
                  <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
                    <img src="{{ site.url }}/images/microbial-omics.png" alt="{{ post.title }}" />
                  </a>
                {% endif %}
              </div>

              <div class="post-content">
                <h1 style="margin-bottom:5px; font-size: 1.6em;"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h1>
                <p style="margin-bottom: -4px;"><i>{{ post.excerpt | strip_html}}</i></p>
                <p>{% for category in site.data.categories %}
                        {% if category.name == post.categories[0] %}
                            <span class="lbl" style="background-color: {{category.color}}">{{ category.name }}</span>
                        {% endif %}
                    {% endfor %}
                    <span class="lbl" style="background-color: #d99d9d;">{{ post.date | date: "%a, %b %d, %Y" }}</span>
                    {% if author %}
                    <span class="lbl" style="background-color: #2a7b7a;">by {{ author.name }}</span>
                    {% else %}{% endif %}
                </p>
              </div>
            </div>
      </article>
{% endfor %}

  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
