<!doctype html>
<html lang="en">
<head>
{% include _head.html %}
</head>

<body class="post-index">


{% include _navigation.html %}

{% include _imagewrap.html %}

<div id="main" role="main">
  <div class="left-panel">
    {% include _left-panel.html %}
</div>

<div id="index">
    <div class="article-wrap">
     <div id="articlecontent">
        {{ content }}
      </div> 
    </div><!-- /.article-wrap -->
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
