<!doctype html>
<html lang="en">
<head>
{% include _head.html %}
</head>

<body class="post-index">


{% include _navigation.html %}

{% include _imagewrap.html %}

<div id="main" role="main">
  <div class="left-panel">
    {% include _left-panel.html %}
</div>

<div id="index">
    <div class="article-wrap">
     <div id="articlecontent">
        {{ content }}
      </div> 
    </div><!-- /.article-wrap -->
{% for post in site.posts %}
  {% if post.categories contains "anvio" %}
        {% if post.title %}
            <article>
                <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <small>({{ post.date | date: "%a, %b %d, %Y" }})</small></h2>
                <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
            </article>
        {% endif %}
  {% endif %}
{% endfor %}
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
